@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.heading {
    text-align: center;
    font-family: Sans-Serif, Roboto, Arial, Comic Sans MS;
    font-weight: bolder;
    font-size: 5vw;
    text-decoration: underline;
}

.images {
    width: 100%;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.images:hover {
    transform: scale(1.05);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
}


.lightbox.active {
    visibility: visible;
    opacity: 1;
}

.prev {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}


.lightboxImg {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

.next {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
